@model WebApplicationSewingStudio.ViewModels.ProductCompositionsViewModels.ProductCompositionsViewModel
@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCompositionViewModel.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCompositionViewModel.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCompositionViewModel.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCompositionViewModel.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCompositionViewModel.MaterialName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCompositionViewModel.MaterialName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
