@using WebApplicationSewingStudio.Models
@using WebApplicationSewingStudio.ViewModels.MaterialsViewModels
@model WebApplicationSewingStudio.ViewModels.MaterialsViewModels.MaterialsViewModel
@{
    ViewData["Title"] = "Материалы";
}
@addTagHelper "*,WebApplicationSewingStudio "
<h2>Список материалов</h2>
<p>
    <a asp-action="Create">Добавить материал</a>
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Материал: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<div class="cell">
    <table class="table" id="data">
        <thead>
            <tr>
               @*<th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MaterialId)">@Html.DisplayNameFor(model => model.Material.Id)</a></th>*@
                <th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MaterialName)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)">@Html.DisplayNameFor(model => model.Material.Name)</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MaterialType)"
                    asp-route-name="@(Model.FilterViewModel.SelectedName)">@Html.DisplayNameFor(model => model.Material.Type)</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in Model.Materials)
            {
            <tr>
                @*<td>@Html.DisplayFor(modelItem => material.Id)</td>*@
                <td>@Html.DisplayFor(modelItem => material.Name)</td>
                <td>@Html.DisplayFor(modelItem => material.Type)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@material.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@material.Id">Удалить</a>
                </td>
                
            </tr>
            }
        </tbody>
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"
                 page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
</div>

