@using WebApplicationSewingStudio.Models
@model IEnumerable<WebApplicationSewingStudio.Models.Material>
@{
    ViewData["Title"] = "Materials";
}

<h2>Список материалов</h2>
<form method="get">
    <div class="form-inline">

    </div>
</form>

<div class="cell">
    <table class="table" id="data">
        <thead>
            @*<tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortState="@(Model.SortViewModel.IdSort)"
                asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortState="@(Model.SortViewModel.NameSort)"
                                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <a asp-action="Index" asp-route-sortState="@(Model.SortViewModel.TypeSort)"
                                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Тип материала</a>
                                </th>
                            </tr>*@
        </thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
        </tr>
        <tbody>
            @foreach (var material in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => material.Id)</td>
                    <td>@Html.DisplayFor(modelItem => material.Name)</td>
                    <td>@Html.DisplayFor(modelItem => material.Type)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

