@using WebApplicationSewingStudio.Models
@model WebApplicationSewingStudio.ViewModels.ProductsViewModels.ProductsViewModel
@addTagHelper "*,WebApplicationSewingStudio "
@{
    ViewData["Title"] = "Изделия";
}

@addTagHelper "*,WebApplicationSewingStudio "
<h2>Список изделий</h2>
<p>
    <a asp-action="Create">Добавить изделие</a>
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Изделие: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<div class="cell">
    <table class="table" id="data">
        <thead>
            <tr>
                @*<th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ProductId)">@Html.DisplayNameFor(model => model.Product.Id)</a></th>*@
                <th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ProductName)"  asp-route-name="@(Model.FilterViewModel.SelectedName)">@Html.DisplayNameFor(model => model.Product.Name)</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ProductPrice)"  asp-route-name="@(Model.FilterViewModel.SelectedName)"> @Html.DisplayNameFor(model => model.Product.Price)</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                   @* <td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"
               page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>

</div>